aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.0
asgiref
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==23.1.0
beautifulsoup4==4.12.2
black==23.3.0
blis==0.7.9
Brotli==1.0.9
cachetools==5.3.1
catalogue==2.0.8
certifi
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
confection==0.0.4
coverage==7.2.7
cssselect==1.2.0
cymem==2.0.7
distlib==0.3.6
dj-database-url==2.0.0
Django
django-heroku==0.3.1
dnspython==2.3.0
docker==6.1.3
duckduckgo-search==3.8.3
en-core-web-sm 
exceptiongroup==1.1.1
Faker==18.3.4
filelock==3.12.2
flake8==6.0.0
frozenlist==1.3.3
fuzzywuzzy==0.18.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.1
google-api-python-client==2.89.0
google-auth==2.20.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.1
gTTS==2.3.1
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.2
httplib2==0.22.0
httpx==0.24.1
hyperframe==6.0.1
identify==2.5.24
idna==3.4
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
jsonschema==4.17.3
langcodes==3.3.0
loguru==0.7.0
lxml==4.9.2
MarkupSafe==2.1.3
mccabe==0.7.0
multidict==6.0.4
murmurhash==1.0.9
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.24.3
oauthlib==3.2.2
openai==0.27.2
orjson==3.9.1
outcome==1.2.0
packaging==23.1
pandas==2.0.3
pathspec==0.11.1
pathy==0.10.1
Pillow==9.5.0
pinecone-client==2.2.1
platformdirs==3.5.3
playsound==1.2.2
pluggy==1.0.0
pre-commit==3.3.3
preshed==3.0.8
protobuf==4.23.3
psycopg2==2.9.6
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.9
pyflakes==3.0.1
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.3.2
pytest-asyncio==0.21.0
pytest-benchmark==4.0.0
pytest-cov==4.1.0
pytest-integration==0.2.3
pytest-mock==3.10.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pywin32==306
PyYAML==6.0
readability-lxml==0.8.1
redis==4.5.5
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
selenium==4.10.0
six==1.16.0
sklearn==0.0.post7
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlparse
srsly==2.4.6
thinc==8.1.10
tiktoken==0.3.3
tomli==2.0.1
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.3
tweepy==4.14.0
typer==0.7.0
typing_extensions==4.6.3
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.16
virtualenv==20.23.0
wasabi==0.10.1
webdriver-manager==3.8.6
websocket-client==1.5.3
whitenoise==6.5.0
win32-setctime==1.1.0
wincertstore==0.2
wsproto==1.2.0
yarl==1.9.2
